* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #272727;
    font-family: Candara,Book Antiqua,Palatino,sans-serif;
    color: #fff;
    opacity: .7;
  }
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}
  
  /* Style the header */
  .header {
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  p {
    line-height: 35px;
}
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    background: #1d1e26;
    border: 2px solid #74f27c;
    text-decoration: none;
    border-radius: 10px;
    transition: color .15s ease,border-color .15s ease;
  }
  .column ul li {
    font-size: 130%;
}

  .column p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}
  .blue {
    color: #54cbe0;
}

div {
    display: block;
}
.column {
    color: #fff;
}

  h4 {
    margin-top: -10px;
    margin-bottom: 50px;
    font-size: 140%;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .sobrenome {
    color: #54cbe0;
}
* {
    box-sizing: border-box;
}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
  }
  .container {
    min-height: 100vh;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .grid {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-top: 3rem;
}

main {
    padding: 5rem 0;
    flex: 1 1;
    flex-direction: column;
}
.description {
    line-height: 1.5;
    font-size: 1.2rem;
    width: 80%;
}
.description, .title {
    text-align: center;
}

.box_description {
    line-height: 1.5;
    font-size: 1.2rem;
    width: 100%;
}
.box_description, .title {
    text-align: center;
}