/* A new file to define media queries alone. */

/*
    How does this work?
    We view the page at every breakpoint and fix everything that is broken
*/

@media only screen and (max-width: 1200px) {
  /*  
        media queries for devices having screen size of 1024 px to 1200 px
        widths smaller than the 1140px row
        iPad in landscape mode has 1024 px
    */
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
  blockquote {
    left: 25px;
  }
}

@media only screen and (max-width: 1023px) {
  /*
        media queries for all devices from 768 px to 1023 px
        iPad in potrait mode has 768 px.
    */

  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .contact-form {
    width: 80%;
  }

  blockquote {
    left: 50px;
  }
}

@media only screen and (max-width: 767px) {
  /* 
        media queries for all devices from 481 px upto 767 px
        This includes devices that have screen sizes less than tablets.
    */

  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .hero-text-box,
  row {
    padding: 0 4%;
  }
  col {
    width: 100%;
    /* columns will not be stacked on top of each other */
    margin: 0 0 4% 0;
  }
  .main-nav {
    display: none;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }
  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky-nav .main-nav {
    margin-top: 10px;
  }

  .sticky-nav .main-nav li > a:link,
  .sticky-nav .main-nav li > a:visited {
    padding: 10px 0;
  }

  .sticky-nav .mobile-nav-icon {
    margin-top: 10px;
  }

  .sticky-nav .responsive-nav {
    color: #555;
  }

  blockquote:before {
    left: -20px;
  }

  .skill-col-2 {
    margin-left: 5px;
  }

  .skill-col-1 {
    margin-left: 10px;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .footer-nav-left {
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  /* 
        media queries for all devices having screen sizes 0 to 480 px 
        This includes devices such as iPhone 4 or 5 etc
    */
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
