/* fonts
    font-family: 'Lato', sans-serif;
    orange color
    #e67e22
    bright color used for hover effects
    #d35400
*/

/* ------------------------------------------------------------ */
/* Website Setup */
/* ------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* using clearfix class to clear float after an element */

/* ------------------------------------------------------------ */
/* Reusable Components */
/* ------------------------------------------------------------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3 {
  font-weight: 300;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: #22cfe6;
  content: " ";
  width: 10%;
  margin: 30px auto;
}

/* h3 {
  font-size: 110%;
  margin-bottom: 15px;
} */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.btn:link,
.btn:visited,
[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  border: 1px solid #22cfe6;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
[type="submit"] {
  background-color: #22cfe6;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #22cfe6c5;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #22cfe6c5;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #22cfe6c5;
  color: #fff;
}

ion-icon {
  color: #22cfe6c5;
}

a:link,
a:visited {
  color: #22cfe6c5;
  text-decoration: none;
  /* border-bottom: 1px solid #e67e22; */
  padding-bottom: 1px;
  /* -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s; */
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------------------------------------------------------------ */
/* Header Section */
/* ------------------------------------------------------------ */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/code-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/code-background.jpg);
  /*having a gradient on top of our hero*/
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.name__title {
  font-family: "Audiowide", cursive;
}

.name__subtitle {
  /* font-family: "PT Mono", monospace; */
  font-family: "Share Tech Mono", monospace;
  margin-bottom: 50px;
  color: #fff;
  font-size: 150%;
}

.hero-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*this translates the element to half of its width and height, up and to the left*/
}

.logo {
  height: 140px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-blk {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  font-weight: 400;
}

.main-nav li > a:link,
.main-nav li > a:visited {
  color: #fff;
  /* text-decoration: none; */
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  padding: 8px 0;
  word-spacing: 4px;
}

.main-nav li > a:hover,
.main-nav li > a:active {
  border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
  /* border-bottom: 1px solid #fff; */
}

.responsive-nav {
  color: #fff;
  font-size: 200%;
}

/* sticky navigation styles*/
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  /* defines the vertical stacking of elements 
        9999 is the maximum value
    */
}

.sticky-nav .main-nav {
  margin-top: 15px;
}

.sticky-nav .main-nav li > a:link,
.sticky-nav .main-nav li > a:visited {
  color: #555;
  padding: 20px 0;
}

.sticky-nav .logo {
  display: none;
}

.sticky-nav .logo-blk {
  display: block;
}

/* .sticky-nav .responsive-nav {
  color: #555;
} */

/* ------------------------------------------------------------ */
/* About me Section */
/* ------------------------------------------------------------ */

.quote {
  font-style: italic;
}

.features-section .long-copy {
  margin-bottom: 30px;
}

.feature-icons {
  font-size: 300%;
  display: block;
  margin: 25px 0;
}

.about-me-title {
  font-size: 130%;
  margin-bottom: 15px;
}

/* ------------------------------------------------------------ */
/* skills Section */
/* ------------------------------------------------------------ */

.skill-table {
  margin-top: 25px;
}

.skill-row td {
  font-size: 1em;
  padding: 0 20px 30px 0;
}

.skill-col-2 {
  margin-left: 50px;
}

/* ------------------------------------------------------------ */
/* projects Section */
/* ------------------------------------------------------------ */

#portfolio-section {
  padding-top: 60px;
  padding-bottom: 0;
}

.tier1 {
  margin-top: 25px;
}

.flex-container {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-container li {
  width: 33.3%;
}

.flex-container li figure {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.flex-container li figure img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.flex-container li figure img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* ------------------------------------------------------------ */
/* Quotes Section */
/* ------------------------------------------------------------ */

.quotes-section {
  background-color: #f4f4f4;
}

blockquote {
  font-size: 2em;
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -50px;
}

/* ------------------------------------------------------------ */
/* contact-form Section */
/* ------------------------------------------------------------ */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

.form-tier {
  margin-top: 25px;
}

[type="text"],
[type="email"],
select,
textarea {
  padding: 7px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

.form-message {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #333;
}

.success {
  background-color: rgb(38, 191, 68);
}

.error {
  background-color: rgb(209, 46, 46);
}

.form-action-buttons {
  margin-top: 20px;
}

.resume-btn:link,
.resume-btn:visited,
[type="button"] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  border: 1px solid #e67e22;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;
}

.resume-btn-full:link,
.resume-btn-full:visited,
[type="button"] {
  background-color: #e67e22;
  color: #fff;
  margin-right: 15px;
}

.resume-btn:hover,
.resume-btn:active {
  background-color: #d35400;
}

.resume-btn-full:hover,
.resume-btn-full:active {
  border: 1px solid #d35400;
}

/* ------------------------------------------------------------ */
/* footer Section */
/* ------------------------------------------------------------ */

footer {
  /* width: 100%; */
  /* background-color: #333; */
  background-color: rgb(17, 14, 14);
  padding: 50px;
  font-size: 80%;
}

.quote__footer {
  font-weight: 400;
  font-size: 110%;
}

.footer-logo {
  height: 140px;
  width: auto;
  margin-bottom: 20px;
}

.footer-nav-left {
  float: left;
}

.footer-nav-right {
  float: right;
}

.footer-nav-left,
.footer-nav-right {
  list-style: none;
  /* margin-top: 55px; */
}

.footer-nav-left li,
.footer-nav-right li {
  display: inline-block;
  margin-right: 20px;
  /* font-size: 140%; */
}

.footer-nav-left li:last-child,
.footer-nav-right li:last-child {
  margin-right: 0;
}

.footer-nav-left li a:link,
.footer-nav-left li a:visited,
.footer-nav-right li a:link,
.footer-nav-right li a:visited {
  text-decoration: none;
  border-bottom: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav-left li a:hover,
.footer-nav-left li a:active {
  color: #e67e22;
}

footer div {
  text-align: center;
}

footer div > p {
  color: #888;
  /* font-size: 90%; */
  margin-top: 30px;
  line-height: 170%;
}

.footer-icons {
  color: #888;
  font-size: 260%;
  transition: color 0.2s;
}

.footer-nav-left li:nth-child(1) a > ion-icon:hover {
  color: #24292e;
}

.footer-nav-left li:nth-child(2) a > ion-icon:hover {
  color: #0077b5;
}

.footer-nav-left li:nth-child(3) a > ion-icon:hover {
  color: #cb2027;
}

.footer-nav-left li:nth-child(4) a > ion-icon:hover {
  color: #007ed7;
}

/* ------------------------------------------------------------ */
/*  Animations  */
/* ------------------------------------------------------------ */

/* only for the ones that fadeIn */
.js-wpt-1,
.js-wpt-2,
.js-wpt-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.js-wpt-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js-wpt-1.animated,
.js-wpt-2.animated,
.js-wpt-3.animated {
  opacity: 1;
}
